<!-- <iframe src="//giphy.com/embed/xTiTnoHt2NwerFMsCI" width="480" height="269.6629213483146" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/wwe-john-cena-super-saiyan-xTiTnoHt2NwerFMsCI"></a></p> -->
<%=@game.defender.name%> attacked <%=@game.offender.name%> with a BIG hug
<h1></h1>
<%=@game.offender.name%> HP HAS NOW GONE DOWN TO: <%=@game.offender.hp%>

<form action="/play">
  <input type="submit" value='Next Turn'>
</form>


<!--
When in a HTML document, we cannot call methods in Ruby.
We need to call them in app.rb and assign the result to a variable. -->
